<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link type="text/css" href="../Styles/mainStyles.css" rel="stylesheet">
    <link type="text/css" href="../Styles/headerStyles.css" rel="stylesheet">
    <title>RoboBug</title>
</head>
<body>
<div class="headerWrapper">
    <div class="topLine"></div>
    <div class="globalHeader">
        <div class="globalHeaderLeft">
            <span id="projectName" class="simpleBlackText">projectName</span>
            <a id="changeProjectLink" class="simpleBlackText" href="">Сменить</a>
        </div>
        <div class="globalHeaderRight">
            <span id="userName" class="simpleBlackText">userName</span>
            <a id="logoutLink" class="simpleBlackText" href="">Сменить</a>
        </div>
    </div>
</div>

<div Class="bodyWrapper">
    <div id="logo"></div>
    <div id="systemNameWrapper">
        <p id="systemNameText"><span class="header">RoboBug</span></br><span class="text">Bug tracking system</span></p>
    </div>
</div>

<div class="footerWrapper"></div>
</body>
</html>