html{
    font-family: Arial;
}

body{
    margin: auto;
}

.simpleBlackText{
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin: 0 7px 0 7px;
}

.simpleGrayText{
    color: #7E7E7F;
    font-size: 16px;
    margin: 0 7px 0 7px;
}

.simpleWhiteText{
    color: white;
    font-size: 16px;
    margin: 0 7px 0 7px;
}

.miniGrayText{
    color: #7E7E7F;
    font-size: 12px;
}

#logo{
    background: url("../img/logo.png");
    height: 47px;
    width: 60px;
    margin: 0 7px 0 7px;
    display: inline-block;
}

.bodyWrapper{
    margin: 30px 0 0 15%;
}

#systemNameWrapper {
    display: inline-block;
    vertical-align: top;
}

#systemNameText{
    margin-top: -3px;
}

#systemNameWrapper .header{
    font-size: 26px;
    color: black;
}

#systemNameWrapper .text{
    font-size: 12px;
    color: #7E7E7F;
}

#searchRowWrapper{
    display: inline-block;
    vertical-align: top;
    padding: 12px 0 0 10px;
}

#searchRow{
    width: 630px;
}

.blueInput {
    height: 30px;
    border: none;
    border-bottom: 1px solid #00a1e7;
    padding: 0 15px 0 15px;
    placeholdear: #7E7E7F 16px;
}

.blueButton{
    height: 30px;
    border: 1px solid #6582c6;
    background-color: #7091bd;
    padding: 0 20px 0 20px;
}