html{
    font-family: Arial;
}

body{
    margin: auto;
    min-width: 1300px;
}

.simpleBlackText{
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin: 0 7px 0 7px;
}

.simpleGrayText{
    color: #7E7E7F;
    font-size: 16px;
    margin: 0 7px 0 7px;
}

.simpleWhiteText{
    color: white;
    font-size: 16px;
}

.miniGrayText{
    color: #7E7E7F;
    font-size: 12px;
}

#logo{
    background: url("../img/logo.png");
    height: 47px;
    width: 60px;
    margin: 0 7px 0 7px;
    display: inline-block;
}

.bodyWrapper{
    margin: 30px 0 0 15%;
}

#systemNameWrapper {
    display: inline-block;
    vertical-align: top;
}

#systemNameText{
    margin-top: -3px;
}

#systemNameWrapper .header{
    font-size: 26px;
    color: black;
}

#systemNameWrapper .text{
    font-size: 12px;
    color: #7E7E7F;
}

#searchRowWrapper{
    display: inline-block;
    vertical-align: top;
    padding: 12px 0 0 10px;
}

#searchRow{
    width: 630px;
}

.blueInput {
    height: 30px;
    border: none;
    border-bottom: 1px solid #00a1e7;
    padding: 0 15px 0 15px;
    placeholdear: #7E7E7F 16px;
}

.greenInput {
    height: 30px;
    border: none;
    border-bottom: 1px solid #24f692;
    padding: 0 15px 0 15px;
    placeholdear: #7E7E7F 16px;
}

.grayTextBox{
    height: 30px;
    border: 1px solid #7E7E7F;
    padding: 15px 15px 0 15px;
    placeholdear: Arial #7E7E7F 16px;
}

input{
    margin:0;
}

textarea:focus{
    outline: none;
}

input:focus{
    outline: none;
}

.blueButton{
    height: 30px;
    padding: 0 20px 0 20px;
    border: 1px solid #6582c6;
    background-color: #7091bd;
    text-align: center;
}

.lightBlueButton{
    height: 30px;
    border: 1px solid #6582c6;
    background-color: #00a1e7;
    padding: 0 20px 0 20px;
    text-align: center;
}

.greenButton{
    height: 30px;
    border: 1px solid #07ca6f;
    background-color: #24f692;
    padding: 0 8px 0 8px;
    text-align: center;
}

.darkGreenButton{
    height: 30px;
    border: 1px solid #059b54;
    background-color: #07ca6f;
    padding: 0 8px 0 8px;
    text-align: center;
}

#createIssueButton{
    width: 180px;
}

.filterWrapper{
    display: block;
    margin-top: 30px;
}

.issuesListWrapper{
    display: block;
    margin-top: 30px;
    min-height: 200px;
}

.pagingWrapper{
    display: block;
    margin-top: 30px;
}

#statusFilterOpen{
    margin: 0 0 0 352px;
}
#statusFilterVerified{
    margin: 0 20px 0 0;
}

.editPageWrapper {
    display: block;
    margin-top: 30px;
    border: 1px solid #24f692;
    width: 880px;
    padding: 30px 30px 30px 30px;
}

.simpleDropDown{
    border: none;
    width: 80px;
    color: #7E7E7F;
    font-size: 16px;
    margin: 0 7px 0 7px;
}

.commentAndSaveWrapper{
    display: block;
    margin-top: 50px;
}

.hintText{
    font-size: 12px;
    padding: 0 0 5px 10px;
    color: #7E7E7F;
}

.textCenter{
    text-align: center;
}